<router-outlet>
  <header>

      <div class="py-5 text-center">
          <h1>Ativos</h1>
      </div>
  </header>


  <main class="container">
      <div >
          <div class="ativos" >

              <li class="col-md-3 mb-2">
                  <a href="/cadastrar-totem">Totem
                  <img src="assets/img/totem.jpg"></a>
              </li>

              <li class="col-md-3 mb-2" >
                  <a href="/cadastrar-desktop">Desktop
                  <img src="assets/img/desktop.png"></a>
              </li>

              <li class="col-md-3 mb-2">
                  <a href="/cadastrar-laptop">Laptop
                  <img src="assets/img/laptop.png"></a>
              </li>

              <li class="col-md-3 mb-2">
                  <a href="/cadastrar-tablet">Tablet
                  <img src="assets/img/tablet.png"></a>
              </li>

              <li class="col-md-3 mb-2">
                  <a href="/cadastrar-celular">Celular
                  <img src="assets/img/celular.png"></a>
              </li>

          </div>
      </div>
  </main>
</router-outlet>

